.main-container {
    background-color: #F9D0A3;
    margin: 0;
    padding: 30px;
}

h2 {
    color: #DA001E;
    font-weight: bold;
    
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 700px;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.card-image {
    width: 200px;
}

.retour {
    cursor: pointer;
}

.retour a {
    text-decoration: none;
    color: #DA001E;
    font-weight: bolder;
}