<header>
    <app-header></app-header>
</header>
<main class="main-container">
    <h2>A propos de notre petit village</h2>
    <div class="village">
    <img src="./assets/image/village.jpg" alt="image du village gaulois">
    </div>
    <section class="presentation">
        <p>Au petit village est une entreprise qui confectionne des figurines inspirées de la bande dessinée Astérix et Obélix. 
            Toutes nos figurines sont faites à la main par notre équipe de passionnée.
        </p>
    </section>
    
</main>
<footer>
    <app-footer></app-footer>
</footer>
