<section class="container">
    <div class="row">
        <h1 class="center">Nos figurines</h1>
        <p>Toutes nos figurines sont faites à la main par notre équipe de gaulois.</p>
        <div *ngFor="let figurine of figurineList" class="col m3 s6">
            <div class="card" (click)="selectFigurine" figurineBorderCard>
                <div class="card-image">
                    <img [src]="figurine.picture" alt="image de figurine"/>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h2>{{ figurine.name }}</h2>
                        <p class="price">{{ figurine.price }}</p>
                        <p class="description">{{ figurine.description }}</p>
                    </div>
            </div>
            </div>
        </div>
    </div>
</section>





