<header>
    <app-header></app-header>
</header>
<main class="presentation">
    <h1>Au petit village</h1>
        <article class="main_container"> 
            <p>Au petit village est une entreprise qui confectionne des figurines inspirées de la bande dessinée Astérix et Obélix.</p>
        <div class="figurines">
            <img src="./assets/image/figurines.jpg" alt="image de figurines">
        </div>
        </article>
        <article class="produits">
            <h2>Nos produits</h2>
            <p>Toutes nos figurines sont faites à la main par notre équipe de passionnée.</p>
        </article>
</main>
<footer>
    <app-footer></app-footer>
</footer>
