
<main>
    <header>
        <app-header></app-header>
    </header>
<section class="presentation">
    <h1>Au petit village</h1>
        <article class="main_container"> 
            <p>Au petit village est une entreprise qui confectionne des figurines inspirées de la bande dessinée Astérix et Obélix.</p>
        <div class="figurines">
            <img src="./assets/image/figurines.jpg" alt="image de figurines">
        </div>
        </article>
        <article class="produits">
            <h2>Nos produits</h2>
            <p>Toutes nos figurines sont faites à la main par notre équipe de passionnée.</p>
        
        </article>
    </section>

    <section class="container-card">
        <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="./assets/image/abraracourcix.jpg" alt="abraracourcix">
              <div class="card-body">
                <h5 class="card-title">Abraracourcix</h5>
                <p>Prix : 22€</p>
              </div>
              <div class="card-footer">
                <button>Voir nos produits</button>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="./assets/image/agecanonix.jpg" alt="agecanonix">
              <div class="card-body">
                <h5 class="card-title">Agecanonix</h5>
                <p>Prix : 20€</p>
              </div>
              <div class="card-footer">
                <button>Voir nos produits</button>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="./assets/image/assurancetourix.jpg" alt="assurancetourix">
              <div class="card-body">
                <h5 class="card-title">Assurancetourix</h5>
                <p>Prix : 21€</p>
              </div>
              <div class="card-footer">
                <button>Voir nos produits</button>
              </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="./assets/image/asterix.jpg" alt="asterix">
                <div class="card-body">
                  <h5 class="card-title">Asterix</h5>
                  <p>Prix : 25€</p>
                </div>
                <div class="card-footer">
                    <button>Voir nos produits</button>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="./assets/image/centurion.jpg" alt="centurion">
                <div class="card-body">
                  <h5 class="card-title">Centurion</h5>
                  <p>Prix : 21€</p>
                </div>
                <div class="card-footer">
                    <button>Voir nos produits</button>
                </div>
              </div>
          </div>
        </section>
        <section class="container-card">
            <div class="card-deck">
                <div class="card">
                  <img class="card-img-top" src="./assets/image/obelix.jpg" alt="Obélix">
                  <div class="card-body">
                    <h5 class="card-title">Obélix</h5>
                    <p>Prix : 25€</p>
                  </div>
                  <div class="card-footer">
                    <button>Voir nos produits</button>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="./assets/image/idefix.jpg" alt="idéfix">
                  <div class="card-body">
                    <h5 class="card-title">Idéfix</h5>
                    <p>Prix : 24€</p>
                  </div>
                  <div class="card-footer">
                    <button>Voir nos produits</button>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="./assets/image/panoramix.jpg" alt="panoramix">
                  <div class="card-body">
                    <h5 class="card-title">Panoramix</h5>
                    <p>Prix : 22€</p>
                  </div>
                  <div class="card-footer">
                    <button>Voir nos produits</button>
                  </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="./assets/image/falbala.jpg" alt="falbala">
                    <div class="card-body">
                      <h5 class="card-title">Falbala</h5>
                      <p>Prix : 21€</p>
                    </div>
                    <div class="card-footer">
                        <button>Voir nos produits</button>
                    </div>
                  </div>
                  <div class="card">
                    <img class="card-img-top" src="./assets/image/romain.jpg" alt="romain">
                    <div class="card-body">
                      <h5 class="card-title">Romain</h5>
                      <p>Prix : 21€</p>
                    </div>
                    <div class="card-footer">
                        <button>Voir nos produits</button>
                    </div>
                  </div>
              </div>
            </section>
            <app-footer></app-footer>
</main>           

